<h2>Your recipe list</h2>
<p>Number of recipes: <%= @recipes.count %></p>
<ul>
<% @recipes.each do |r|%>
<p> <%= r.category.name %>: <%= link_to r.title, recipe_path(r) %>-<%= r.created_at.strftime("%B %d, %Y") %> </p>

<% end %>
</ul>