

<ul>
<% @recipes.each do |r| %>
<li><p><%= r.category.name %> - <%= link_to r.title, recipe_path(r) %></p> </li>
<% end %>
</ul>

<% if !@filter%>
<p>To see the list ordered alphabetically, Click <%= link_to 'Ordered list', recipes_ordered_list_path %></p>
<% end %>

<% if @category%>
<p><%= link_to 'Add a recipe to this category', new_category_recipe_path %></p>
<% end %>









