

<% @categories.each do |c|%>

<%= link_to c.name, category_recipes_path(c) %>

<% end %>


<p>Want to see all of your recipes instead? Click <%= link_to 'All recipes', recipes_timeupdated_path %></p>