

<% @categories.uniq.each do |c|%>

<p><%= link_to c.name, category_recipes_path(c) %></p>   

<% end %>


<p>Want to see all of your recipes instead? Click <%= link_to 'All recipes', recipes_timeupdated_path %></p>

